.grid {
    display: -ms-grid !important;
    display: grid !important;
}

.flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
} 


.pc {
    display: -ms-grid;
    display: grid;
    height: 65vh;
    place-items: center;

    &Img {
        width: 256px;
        height: 171px;
        position: relative; 
 
        img {
         width: 256px;
         height: 171px;
         position: absolute; 
        }
    }
}

.Start {
    padding: 10px 88px;
    margin: 0 auto;
    margin-top: 10px;
    border: 0;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
    background-color: var(--startButton-color);
}

.blockText {
    text-align: center;
    margin-bottom: 20px;
}

.params {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    &Block {
        font-size: var(--font21);
        width: 90%;
    }

    &ChoiceMobile {
        button {
            display: none;
        }
        p {
            font-weight: 600;
        }
    }

    &Sub {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 20px;
    }

    &Select {
        padding: 10px 30px;
        background-color: var(--choiceButton-color) ;
        outline: none;
        border: 0;
        -webkit-border-radius: var(--radius15);
           -moz-border-radius: var(--radius15);
                border-radius: var(--radius15);
        color: var(--textT-color);
        font-size: var(--font21);
        margin-left: 28px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.7;
        }
        &::after {
            content: '';
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid;
            height: 0;
            position: relative;
            top: 17px;
            left: 10px;
            width: 0;             
        }
    }

    button {
        color: var(--textT-color);
    }

    &Text {
        padding: 10px 0;
        width: 345px;
        -webkit-border-radius: var(--radius17);
           -moz-border-radius: var(--radius17);
                border-radius: var(--radius17);
        background-color: var(--choiceText-color);

        &Sub {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            img {
                margin-left: 30px;
                width: 25px;
                height: 25px;
                margin-top: 3px;
            }
    
            p {
                padding-left: 10px;
            }
        }
    }

    &Choice {
        width: 50%;
        margin-left: auto;
    }

    ul {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        display: none;
        -webkit-border-radius: var(--radius25);
           -moz-border-radius: var(--radius25);
                border-radius: var(--radius25);
        li {
            padding: 10px 30px;
            margin: 0 0 8px 8px;
            background-color: var(--choiceButton-color);
            -webkit-border-radius: var(--radius15);
               -moz-border-radius: var(--radius15);
                    border-radius: var(--radius15);
            cursor: pointer;
            color: var(--textT-color);
            -webkit-transition: all 0.3 ease;
            -o-transition: all 0.3 ease;
            -moz-transition: all 0.3 ease;
            transition: all 0.3 ease;
            font-size: var(--font21);
            -webkit-animation: clickMeCream 1.4s linear infinite;
               -moz-animation: clickMeCream 1.4s linear infinite;
                 -o-animation: clickMeCream 1.4s linear infinite;
                    animation: clickMeCream 1.4s linear infinite;
            &:hover {
                opacity: 0.9;
            }
        }
    }

}


@-webkit-keyframes clickMeCream {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--ThemeButton-color);
                box-shadow: 0 0 0 0 var(--ThemeButton-color);
    }
    50% {
        -webkit-box-shadow: 0 0 10px 0 var(--ThemeButton-color);
                box-shadow: 0 0 10px 0 var(--ThemeButton-color);
    }
}


@-moz-keyframes clickMeCream {
    0% {
        -moz-box-shadow: 0 0 0 0 var(--ThemeButton-color);
             box-shadow: 0 0 0 0 var(--ThemeButton-color);
    }
    50% {
        -moz-box-shadow: 0 0 10px 0 var(--ThemeButton-color);
             box-shadow: 0 0 10px 0 var(--ThemeButton-color);
    }
}


@-o-keyframes clickMeCream {
    0% {
        box-shadow: 0 0 0 0 var(--ThemeButton-color);
    }
    50% {
        box-shadow: 0 0 10px 0 var(--ThemeButton-color);
    }
}


@keyframes clickMeCream {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--ThemeButton-color);
           -moz-box-shadow: 0 0 0 0 var(--ThemeButton-color);
                box-shadow: 0 0 0 0 var(--ThemeButton-color);
    }
    50% {
        -webkit-box-shadow: 0 0 10px 0 var(--ThemeButton-color);
           -moz-box-shadow: 0 0 10px 0 var(--ThemeButton-color);
                box-shadow: 0 0 10px 0 var(--ThemeButton-color);
    }
}


@media (max-width: 1760px) {    
    .params {
        &Select {
            font-size: var(--font17);
            &::after {
                top: 13px;
            }   
        }

        &TextSub img {
            width: 20px; 
            height: 20px;
            margin-top: 2px;
        }

        &Block {
            font-size: var(--font17);
        }

        ul li {
            font-size: var(--font18);
        }
    }
}


@media (max-width: 1366px) {
    .params {
        button, &Block , ul li {
            font-size: var(--font15);
        }
        &Sub {
            margin-bottom: 10px;
        }
        &Choice {
            width: 35%;
        }
        ul {
            max-height: 250px;
        }

        &TextSub img {
            margin-top: 0;
        }
    }
}

@media (max-width: 1000px) {
    .params {
        &Choice {
            width: 20%;
        }
        ul li {
            padding: 10px 15px;
            margin: 0 0 10px 10px; 
        }
    }
} 

@media (max-width: 800px) {
    .Start {
        margin: 0 auto;
        display: block;
        margin-top: 45px;
        font-size: var(--font16) !important;
    }
    .flex {
        width: 100%;
        margin: 0 auto;
    }
    .blockText {
        display: block;
        margin-bottom: 0;
        margin-top: 30px
    }
    .grid {
        place-items: center !important;
    }

    .params {
        &Block {
            font-size: var(--font18);
            width: 100%;
        }

        ul {
            background-color: var(--chageText-color);
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-top: 20px;
            width: 80%;
        }

        li {
            font-size: var(--font21) !important; 
        }

        &Choice {
            width: 100%;
            height: 100%;
            max-height: 100%;
            position: fixed;
            -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
            display: none;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -webkit-border-radius: var(--radius25);
               -moz-border-radius: var(--radius25);
                    border-radius: var(--radius25);
            margin: auto;
            
            button {
                background-color: var(--ThemeButton-color);
                margin: 0 auto;
                border: 0;
                -webkit-border-radius: var(--radius15);
                   -moz-border-radius: var(--radius15);
                        border-radius: var(--radius15);
                padding: 10px 44px;
                margin-top: 20px;
                margin-bottom: 20px;
                display: block !important;
            }
        }

        &ChoiceMobile {
            width: 80%;
            background-color: var(--chageText-color);
            -webkit-border-radius: var(--radius25);
               -moz-border-radius: var(--radius25);
                    border-radius: var(--radius25);
        }

        &Sub {
            display: block;
            margin-bottom: 15px;
        }

        &Select {
            margin: 0 auto;
            display: block;
            margin-top: 15px;
            font-size: var(--font18) !important;
            margin-bottom: 10px;
            width: 45%;
            &::after {
                top: 15px;
            }
        }

        &Text {
            margin: 0 auto;
            width: 70%;
            &Sub {
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                img {
                    margin-left: 0;
                    margin-top: 1px;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .params {
        &Text {
            width: 100%;
        }
        &Select {
            width: 65% !important;
        }
    }
}

@media (max-width: 380px) {
    .params ul {
        margin-top: 30px;
        li {
            font-size: var(--font15) !important;
        }
    }
}