.social {
  background-color: var(--choiceText-color);
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: var(--radius25);

  &_display {
    display: grid;
    grid-template-columns: 205px 205px;
    gap: 15px;
    place-content: center;
    margin-top: 15px;
  }

  &_block {
    display: flex;
    background: linear-gradient(45deg, rgb(97, 87, 255), rgb(238, 73, 253));
    height: 40px;
    width: 205px;
    border-radius: var(--radius25);
    align-items: center;
    transition: all 0.3s ease;
    border: 0;

    &:hover {
      transform: translateY(-3px);
    }
  }

  &_block_img {
    display: flex;
    border-radius: 10px 0 0 10px;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 10px;
    }
  }

  h3 {
    text-align: center;
  }

  h4 {
    margin-right: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
  }
}

@media (max-width: 500px) {
  .social {
    &_display {
      grid-template-columns: 100%;
    }
  
    &_block {
      height: 45px;
      width: 100%;
    }

    h4 {
      margin: 0 auto;
      position: relative;
      left: -22px;
    }
  }
}