.choiceParams {
    width: 100%;
    padding: var(--paddingHome);
    border-radius: var(--radius15);
    background-color: var(--block-color);
    margin-bottom: 20px;
    h3 {
        font-size: var(--font24);
        font-weight: bold;
    }
}

.inputBlock {
    height: 200px;
    // display: flex;
    display: block;
    // align-items: center;
    // justify-content: center;
    margin: 0 auto;
    cursor: text;
    // max-width: 1200px;
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    width: calc(90vw - 150px);
}

.inputText {
    // text-align: justify;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
//  max-width: 1200px;
 position: absolute;
 font-weight: 400;
 opacity: 0.7;
 font-size: 1.64vw;
 overflow: hidden;
 cursor: text;
 font-family: sans-serif;
 text-align: justify;
//  width: 90%;
// width: calc(90vw - 150px);
}

.inputArea {
    position: relative;
    padding: 0;
    margin: 0;
    resize: none;
    border: 0;
    outline: 0;
    // text-align: justify;
    width: calc(90vw - 150px);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 1.64vw;
    font-weight: 400;
    // word-spacing: normal;
    // white-space: pre;
    font-family: sans-serif;
    color: white;
    background-color: transparent;
}

.inputArea2 {
    position: relative;
    z-index: 10;
    padding: 0;
    margin: 0;
    resize: none;
    border: 0;
    outline: 0;
    // text-align: justify;
    text-justify: inter-word;
    width: calc(90vw - 150px);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 1.64vw;
    font-weight: 400;
    // word-spacing: normal;
    // white-space: pre;
    font-family: sans-serif;
    color: white;
    background-color: transparent;
}

