.choiceParams {
    width: 100%;
    padding: var(--paddingHome);
    border-radius: var(--radius15);
    background-color: var(--block-color);
    margin-bottom: 20px;
    h3 {
        font-size: var(--font24);
        font-weight: bold;
    }
}

.inputMain {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    width: calc(70vw - 100px);
    margin: 0 auto;
}

.inputBlock {
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: text;
    position: relative;
    width: calc(70vw - 150px);
}

.inputText {
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
 font-weight: 400;
 opacity: 0.7;
 font-size: 1.44vw;
 cursor: text;
 font-family: sans-serif;
 word-break: break-all; 
 width:100%;
}

.inputArea {
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    resize: none;
    border: 0;
    height: 100%;
    outline: 0;
    width: 100%;
    word-break: break-all;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 1.44vw;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    background-color: transparent;
}

.klava {
    width: 39.792vw;
    height: 14.063vw;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    &Space {
        width: 13.021vw;
        margin: 0 auto !important;
    }

    &Line {
        display: flex;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.302vw;
            display: flex;

            sup {
                margin-top: -0.260vw;
                margin-left: 0.260vw;
            }
        }

        div {
            position: relative;
            background-color: rebeccapurple;
            margin: 2px;
            border-radius: 8px;
            height: 2.66vw;
        }
    }
}

@media (max-width: 800px) {
    .inputArea, .inputText, .inputBlock {
        font-size: 4vw;
        width: 100%;
    }
    .inputMain {
        width: 100%;
    }

    .klava {
        width: 80vw;
        height: 50vw;
    }
}

@media (max-width: 480px) {
    .inputArea, .inputText, .inputBlock {
        font-size: 6vw;
    }
    .inputMain {
        padding: 10px;
    }
}