html.dark {
  --shareT-color: #35373B;
  --aside-color:#2C2D31;
  --body-color: #242627;
  --text-color: #f2f2f2;
  --textT-color: #f2f2f2;
  --border-color: #707070;
  --block-color: #35373B;
  --active-color: #35373B;
  --chageText-color: #2e2e2e;
  --ThemeButton-color: #5161F9;
  --langUl-color: #35373B;
  --langUlMob-color: #2C2D31;
  --startButton-color: #33D74B;
  --choiceButton-color: #6300F1;
  --choiceText-color: #303030;
  --account-color: #f6f6f6;
  --gradient1-color: linear-gradient(45deg,#5534cc, #883c91, #403468);
  --theme-icon: url(/public/img/theme/dark_mode.svg);
  --theme-iconMin: url(/public/img/theme/dark_modeMin.svg);
  --back-icon: url(/public/img/Components/Back/undoBlack.svg);
}

html.light {
  --shareT-color: #9270fb;
  --aside-color:#F2F3F5;
  --body-color: #f0eaea;
  --text-color: #5e4f66;
  --textT-color: #f6f6f6;
  --border-color: #707070;
  --block-color: #f6f6f6;
  --active-color: #e5e5e5;
  --chageText-color: #e0d8d8;
  --ThemeButton-color: #5161F9;
  --langUl-color: #dfe0e2;
  --langUlMob-color: #dfe0e2;
  --startButton-color: #33D74B;
  --choiceButton-color: #9652f7;
  --choiceText-color: #ede9e9;
  --account-color: #2E2E2E;
  --gradient1-color: linear-gradient(45deg, #4b3497, #ba84c2, #7b6da5);
  --theme-icon: url(/public/img/theme/light_mode.svg);
  --theme-iconMin: url(/public/img/theme/light_modeMin.svg);
  --back-icon: url(/public/img/Components/Back/undoLight.svg);
}

@media (max-width: 1279px) {
  main {
    margin-left: 150px !important;
  }
}
@media (max-width: 1600px) {
  main {
    margin-left: 180px;
  }
}

@media (max-width: 1440px) {
  main {
    padding: 10px 10px 0 10px;
  }
}

@media (max-width: 912px) {
  main {
    margin-left: 0 !important;
    padding: 15px 0 0 0;
  }
}
