* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

:root {
    --radius10: 10px;
    --radius15: 15px;
    --radius17: 17px;
    --radius20: 20px;
    --radius25: 25px;
    --font24: 24px;
    --font21: 21px;
    --font18: 18px;
    --font17: 17px;
    --font16: 16px;
    --font15: 15px;
    --paddingHome: 38px 20px; 
}

::-webkit-scrollbar {
    width: 0.78vw;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 1.17vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}
html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    overflow-y: overlay;
    scroll-behavior: smooth;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

button {
    color: var(--text-color);
    font-size: var(--font21);
    cursor: pointer;
}

main {
    margin-left: 244px;
    padding: 30px 31px 0 24px;
}

.active {
    border-radius: var(--radius15);
    background-color: var(--active-color);
    padding: 12px 14px 6px 14px;
}
.block {
    display: block;
}
.none {
    display: none;
}

.flex {
    display: flex !important;
} 

.Start {
    padding: 10px 88px;
    margin: 0 auto;
    margin-top: 10px;
    border: 0;
    border-radius: 25px;
    background-color: var(--startButton-color);
}

@media (max-width: 770px) {
    .Start {
        margin: 0 auto;
        display: block;
        margin-top: 45px;
        font-size: var(--font16) !important;
    }
}
