.notFoundMain {
    display: grid;
    place-items: center;
    height: 87.5vh !important;
}

.notFound {
    p {
        text-align: center;
        font-size: 18px;
        margin-top: 40px;
    }

    button {
        background: -o-linear-gradient(45deg,#e66465, #9198e5);
        background: linear-gradient(45deg,#e66465, #9198e5);
        color: var(--textT-color);
        border: 0;
        padding: 12px 40px;
        border-radius: var(--radius15);
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        font-size: var(--font18);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.8;
            -webkit-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                    transform: translateY(-5px);
        }
    }

    img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: auto;
    }
}

@media (max-width: 800px) { 
    .notFound button {
        padding: 16px 40px;
    }
    
    .notFoundMain {
        height: 70vh !important;
    }
}