.notFoundMain {
    display: -ms-grid;
    display: grid;
    place-items: center;
    height: 80vh !important;
}

.notFound {
    p {
        text-align: center;
        font-size: var(--font18);
        margin-bottom: 30px;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: auto;
    }
}

@media (max-width: 800px) {     
    .notFoundMain {
        height: 60vh !important;
    }
}