.homeWelcome {
    h2 {
        text-align: center;
        font-size: var(--font24);
        margin-bottom: 10px;
    }
    h3 {
        text-align: center;
        font-size: var(--font21);
        margin-bottom: 10px;
        font-weight: 400 !important;
        margin-bottom: 0 !important;
    }
}


.homeTest {
    margin: 0 auto;
    width: 90%;
    background-color: var(--block-color);
    border-radius: var(--radius15);
    padding:var(--paddingHome);
    margin-bottom: 20px;
    
    h3 {        
        text-align: center;
        font-size: var(--font21);
        margin-bottom: 24px;
    }
}

.homeStats {
    &Block {
        width: 1100px;
        margin: 0 auto;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
        grid-gap: 16px;
        gap: 16px;

        p {
            margin-top: 5px;
            text-align: center;
            font-size: var(--font21);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;   
        }
    }

    &Sub {
        margin-right: 20px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.8;
            -webkit-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                    transform: translateY(-10px);
        }
    }

    &Skeleton {
        width: 160px;
        height: 160px;
        border-radius: var(--radius15);
        background-color: blanchedalmond;
    }

    &Img {
        width: 160px;
        height: 160px;
        border-radius: var(--radius15);
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

        img {
            position:relative;
            display: block;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            margin: 0 auto;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }
    }
}

@media (max-width:1760px) {
    .homeStatsBlock p, .homeTest h3, .homeWelcome h3 {
        font-size: var(--font17);
    }
    .homeWelcome h2, .homeWelcome h3 {
        font-size: var(--font18) !important;
    }

    .homeTest {
        margin-bottom: 15px;
    }
}

@media (max-width:1600px) {
    .homeStats {
        &Img {
            width: 130px;
            height: 130px;
    
            img {
                width: 110px;
            }
        }
        &Skeleton {
            width: 130px;
            height: 130px;
        }
        &Block {
            width: 900px;
            grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
        }
        &Sub {
            width: 130px;
        }
    }
}

@media (max-width: 1110px) {
    .homeStatsBlock {
        width: 100%;
        margin: 0 auto;
    }
    .homeStatsSub {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .homeStats {
        &Block {
            grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
        }
        &Sub {
            width: 160px;
        }
        &Skeleton {
            width: 160px;
            height: 160px;
        }
        &Img {
            width: 160px;
            height: 160px;
    
            img {
                width: auto;
            }
        }
    }
}

@media (max-width: 380px) {
    section:nth-child(3) {
        padding: 15px 10px !important;
    }
}