.Block {
    width: 100%;
    padding: var(--paddingHome);
    -webkit-border-radius: var(--radius15);
       -moz-border-radius: var(--radius15);
            border-radius: var(--radius15);
    background-color: var(--block-color);
    margin-bottom: 20px;
    position: relative;
    -webkit-animation: onLoad 0.3s ease-out;
       -moz-animation: onLoad 0.3s ease-out;
         -o-animation: onLoad 0.3s ease-out;
            animation: onLoad 0.3s ease-out;
    h1 {
        font-size: var(--font24);
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
    }
}

@-webkit-keyframes onLoad {
    0% {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: translateY(-0px);
                transform: translateY(-0px);
        opacity: 1;
    }
}

@-moz-keyframes onLoad {
    0% {
        -moz-transform: translateY(5px);
             transform: translateY(5px);
        opacity: 0.8;
    }
    100% {
        -moz-transform: translateY(-0px);
             transform: translateY(-0px);
        opacity: 1;
    }
}

@-o-keyframes onLoad {
    0% {
        -o-transform: translateY(5px);
           transform: translateY(5px);
        opacity: 0.8;
    }
    100% {
        -o-transform: translateY(-0px);
           transform: translateY(-0px);
        opacity: 1;
    }
}

@keyframes onLoad {
    0% {
        -webkit-transform: translateY(5px);
           -moz-transform: translateY(5px);
             -o-transform: translateY(5px);
                transform: translateY(5px);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: translateY(-0px);
           -moz-transform: translateY(-0px);
             -o-transform: translateY(-0px);
                transform: translateY(-0px);
        opacity: 1;
    }
}

@media (max-width: 1760px) {
    .Block h1 {
        font-size: var(--font21);
    }

    .Block {
        margin-bottom: 15px;
    }
}


@media (max-width: 912px) {
    .Block h1 {
        margin-bottom: 30px;
    }
}