.notFound {
    width: 100%;
    background-color: var(--block-color);
    border-radius: var(--radius15);
    margin-bottom: 20px;
    padding: var(--paddingHome);

    h2 {
        text-align: center;
        font-size: var(--font24);
    }

    p {
        text-align: center;
        font-size: 18px;
        margin-top: 40px;
    }

    button {
        background: linear-gradient(45deg,#e66465, #9198e5);
        color: var(--textT-color);
        border: 0;
        padding: 12px 30px;
        border-radius: var(--radius15);
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        font-size: var(--font18);
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.8;
            transform: translateY(-10px);
        }
    }
    
    img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: auto;
        margin-top: 100px;
    }
}

@media (max-width: 800px) {
    .notFound button {
        padding: 16px 40px;
    }
}