.klava {
    width: 750px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;

    &Space {
        width: 250px;
        margin: 0 auto !important;
    }

    &Line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            font-size: var(--font21);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            sup {
                margin-top: -0.260vw;
                margin-left: 0.260vw;
            }
        }

        div {
            position: relative;
            background-color: var(--ThemeButton-color);
            margin: 1.7px;
            border-radius: 8px;
            height: 45px;
            color: var(--textT-color);
        }
    }
}


@media (max-width: 920px) {
    .klava {
        display: none;
    }
}