.choiceParams {
  width: 100%;
  padding: var(--paddingHome);
  border-radius: var(--radius15);
  background-color: var(--block-color);
  margin-bottom: 20px;
}
.choiceParams h3 {
  font-size: var(--font24);
  font-weight: bold;
}

.params {
  width: 100%;
  padding: var(--paddingHome);
  border-radius: var(--radius15);
  background-color: var(--block-color);
  display: flex;
}
.paramsBlock {
  font-size: var(--font21);
  width: 90%;
}
.paramsSub {
  display: flex;
  margin-bottom: 20px;
}
.paramsSelect {
  padding: 10px 30px;
  background-color: var(--choiceButton-color);
  outline: none;
  border: 0;
  border-radius: var(--radius15);
  color: var(--textT-color);
  font-size: var(--font21);
  margin-left: 28px;
  transition: all 0.3s ease;
}
.paramsSelect:hover {
  opacity: 0.7;
}
.paramsSelect::after {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid;
  height: 0;
  position: relative;
  top: 17px;
  left: 10px;
  width: 0;
}
.params button {
  color: var(--textT-color);
}
.paramsChoice {
  width: 50%;
  margin-left: auto;
}
.paramsText {
  padding: 10px 0px;
  width: 325px;
  border-radius: var(--radius17);
  background-color: var(--choiceText-color);
}
.paramsText p {
  padding-left: 30px;
}
.params ul {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  border-radius: var(--radius25);
}
.params ul li {
  padding: 10px 30px;
  margin: 0 0 5px 5px;
  background-color: var(--choiceButton-color);
  border-radius: var(--radius15);
  cursor: pointer;
  color: var(--textT-color);
  transition: all 0.3 ease;
  font-size: var(--font21);
}
.params ul li:hover {
  opacity: 0.9;
}

@media (max-width: 1760px) {
  .choiceParams h3 {
    font-size: var(--font21);
  }
  .paramsSelect {
    font-size: var(--font17);
  }
  .paramsSelect::after {
    top: 13px;
  }
  .paramsBlock {
    font-size: var(--font17);
  }
  .params ul li {
    font-size: var(--font18);
  }
}
@media (max-width: 1650px) {
  .paramsChoice {
    width: 50%;
    margin-left: auto;
  }
}
@media (max-width: 1366px) {
  .params button, .paramsBlock, .params ul li {
    font-size: var(--font15);
  }
  .paramsSub {
    margin-bottom: 10px;
  }
  .paramsChoice {
    width: 35%;
  }
  .params ul {
    max-height: 250px;
  }
}
@media (max-width: 1179px) {
  .paramsChoice {
    width: 30%;
  }
}
@media (max-width: 1070px) {
  .paramsChoice {
    width: 20%;
  }
}
@media (max-width: 1000px) {
  .paramsChoice {
    width: 20%;
  }
  .params ul li {
    padding: 10px 15px;
    margin: 0 0 5px 5px;
  }
}
@media (max-width: 800px) {
  .paramsBlock {
    font-size: var(--font18);
    width: 100%;
  }
  .params ul {
    background-color: var(--chageText-color);
    max-height: 130px;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
  }
  .params li {
    font-size: var(--font21) !important;
  }
  .paramsChoice {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: fixed;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: var(--radius25);
    margin: auto;
  }
  .paramsChoice button {
    background-color: var(--ThemeButton-color);
    margin: 0 auto;
    border: 0;
    border-radius: var(--radius15);
    padding: 10px 44px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }
  .paramsChoiceMobile {
    width: 80%;
    background-color: var(--chageText-color);
    border-radius: var(--radius25);
  }
  .paramsSub {
    display: block;
    margin-bottom: 15px;
  }
  .paramsSelect {
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    font-size: var(--font18) !important;
    margin-bottom: 10px;
    width: 45%;
  }
  .paramsSelect::after {
    top: 15px;
  }
  .paramsText {
    margin: 0 auto;
    width: 70%;
  }
  .paramsText p {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 580px) {
  .paramsText {
    width: 100%;
  }
  .paramsSelect {
    width: 65% !important;
  }
}
@media (max-width: 380px) {
  .params ul {
    margin-top: 30px;
  }
  .params ul li {
    font-size: var(--font15) !important;
  }
}/*# sourceMappingURL=Text.module.css.map */