.choiceParams {
    width: 100%;
    padding: var(--paddingHome);
    border-radius: var(--radius15);
    background-color: var(--active-color);
    margin-bottom: 20px;
    h3 {
        font-size: var(--font24);
        font-weight: bold;
    }
}

.params {
    width: 100%;
    padding: var(--paddingHome);
    border-radius: var(--radius15);
    background-color: var(--active-color);
    display: flex;
    &Block {
        font-size: var(--font21);
        width: 90%;
    }

    &Sub {
        display: flex;
        margin-bottom: 20px;
    }

    &Select {
        padding: 10px 30px;
        background-color: var(--body-color);
        outline: none;
        border: 0;
        border-radius: var(--radius15);
        color: var(--text-color);
        font-size: var(--font21);
        margin-left: 28px;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.7;
            // &::after {
            //     border-left: 5px solid transparent;
            //     border-right: 5px solid transparent;
            //     border-top: 5px solid;
            // }   
        }
        &::after {
            content: '';
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid;
            height: 0;
            position: relative;
            top: 17px;
            left: 10px;
            width: 0;             
        }
    }

    &Text {
        padding: 10px 0px;
        width: 325px;
        border-radius: var(--radius17);
        background-color: var(--aside-color);

        p {
            padding-left: 30px;
        }
    }


    ul {
        display: none;
        border-radius: 25px;
        background-color: var(--body-color);
        li {
            padding: 10px 30px;
            background-color: var(--body-color);
            border-radius: var(--radius15);
            cursor: pointer;
        }
    }

}


@media (max-width: 1760px) {
    .choiceParams h3 {
        font-size: var(--font21);
    }

    .paramsSelect {
        font-size: var(--font17);
        &::after {
            top: 13px;
        }
    }
    .paramsBlock {
        font-size: var(--font17);
    }
}


@media (max-width: 1650px) {
.paramsChoice {
    width: 50%;
    margin-left: auto;
 }
}

@media (max-width: 1366px) {
    .params button {
        font-size: var(--font15);
    }
    .paramsBlock {
        font-size: var(--font15);
    }
    .paramsSub {
        margin-bottom: 10px;
    }
}

@media (max-width: 1179px) {
    .paramsChoice {
        width: 30%;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 1000px) {
    .paramsChoice {
        width: 20%;
    }
    .params ul li {
        padding: 10px 15px;
        margin: 0 0 5px 5px;
    }
}    

@media (max-width: 800px) {
    .paramsBlock {
        font-size: var(--font18);
        width: 100%;

        li {
            font-size: var(--font16) !important;
        }
    }

    .params ul {
        background-color: #2e2e2e;
    }

    .paramsChoice {
        width: 50%;
        height: 100%;
        position: fixed;
        // background-color: var(--body-color);
        background-color: #2e2e2e;
        display: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 25px;
        margin: auto;

        button {
            background-color: var(--active-color);
            margin: 0 auto;
            border: 0;
            border-radius: 15px;
            padding: 10px 44px;
            margin-top: 50px;
            margin-bottom: 20px;
            display: block;
        }
    }
    .paramsSub {
        display: block;
        margin-bottom: 15px;

        .paramsSelect {
            margin: 0 auto;
            display: block;
            margin-top: 15px;
            font-size: var(--font16) !important;
            margin-bottom: 10px;
            width: 45%;
        }
    }
    
    .paramsText {
        margin: 0 auto;
        width: 70%;
    }
    .params ul {
        justify-content: center;
        top: 10%;
        position: relative;
    }
    .paramsText p {
        padding-left: 0;
        text-align: center;
    }
}

@media (max-width: 580px) {
    .paramsText {
        width: 90%;
    }
    .paramsSelect {
        width: 65% !important;
    }

    .paramsChoice {
        width: 80%;
    }
}