@-webkit-keyframes preloadere {
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-moz-keyframes preloadere {
  100% {
    -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}
@-o-keyframes preloadere {
  100% {
    -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}
@keyframes preloadere {
  100% {
    -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
              -o-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var( --body-color);

  h2 {
      color: var(--text-color);
  }
  &Place {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%)
  }
}

@media (max-width: 800px) {
  .preloaderPlace {
    top: 40%;
  }
}


.lds_heart {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
-webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
        transform: rotate(45deg);
-webkit-transform-origin: 40px 40px;
   -moz-transform-origin: 40px 40px;
    -ms-transform-origin: 40px 40px;
     -o-transform-origin: 40px 40px;
        transform-origin: 40px 40px;

div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fcf;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
     -moz-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);

  &::after, &::before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fcf;
  }

  &::before {
    left: -24px;
    -webkit-border-radius: 50% 0 0 50%;
       -moz-border-radius: 50% 0 0 50%;
            border-radius: 50% 0 0 50%;
  }

  &::after {
    top: -24px;
    -webkit-border-radius: 50% 50% 0 0;
       -moz-border-radius: 50% 50% 0 0;
            border-radius: 50% 50% 0 0;
  }

}
}


@-webkit-keyframes lds-heart {
0% {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
5% {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
39% {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}
45% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
60% {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
100% {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
}


@-moz-keyframes lds-heart {
0% {
  -moz-transform: scale(0.95);
       transform: scale(0.95);
}
5% {
  -moz-transform: scale(1.1);
       transform: scale(1.1);
}
39% {
  -moz-transform: scale(0.85);
       transform: scale(0.85);
}
45% {
  -moz-transform: scale(1);
       transform: scale(1);
}
60% {
  -moz-transform: scale(0.95);
       transform: scale(0.95);
}
100% {
  -moz-transform: scale(0.9);
       transform: scale(0.9);
}
}


@-o-keyframes lds-heart {
0% {
  -o-transform: scale(0.95);
     transform: scale(0.95);
}
5% {
  -o-transform: scale(1.1);
     transform: scale(1.1);
}
39% {
  -o-transform: scale(0.85);
     transform: scale(0.85);
}
45% {
  -o-transform: scale(1);
     transform: scale(1);
}
60% {
  -o-transform: scale(0.95);
     transform: scale(0.95);
}
100% {
  -o-transform: scale(0.9);
     transform: scale(0.9);
}
}


@keyframes lds-heart {
0% {
  -webkit-transform: scale(0.95);
     -moz-transform: scale(0.95);
       -o-transform: scale(0.95);
          transform: scale(0.95);
}
5% {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
39% {
  -webkit-transform: scale(0.85);
     -moz-transform: scale(0.85);
       -o-transform: scale(0.85);
          transform: scale(0.85);
}
45% {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
60% {
  -webkit-transform: scale(0.95);
     -moz-transform: scale(0.95);
       -o-transform: scale(0.95);
          transform: scale(0.95);
}
100% {
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9);
}
}