.Back {
    width: 45px;
    height: 45px;
    -webkit-border-radius: var(--radius50p);
       -moz-border-radius: var(--radius50p);
            border-radius: var(--radius50p);
    border: 0;
    background-color: var(--body-color);
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 10px;

    &:hover {
        -webkit-transform: translateY(-2px);
           -moz-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
             -o-transform: translateY(-2px);
                transform: translateY(-2px);
        opacity: 0.9;
    }

    &Images {
        width: 22px;
        height: 8px;
        background: var(--back-icon);
    }
}